name: "Validate links"

on:
  pull_request:
  push:
    branches:
      - main


jobs:
  update_readme:
    name: 'Update README and push to GitHub'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Update README.md according to the data in data/data.json file
        run: python build/worker.py
      - name: Create backup
        uses: codewithpom/ipfs-backup-github-action@v1.0.0alpha
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update README.md"
